#register-button{

    height:auto;
    width:auto;
    margin: -20px -90px;
    position:relative;
    top:50%;
    left:50%;

}
#login-button{

    height:auto;
    width:auto;
    margin: -20px -55px;
    position:relative;
    top:50%;
    left:50%;

}



