<div class="styled-Form" *ngIf="!loggedIn()">
  <form name="login">
    <input
      type="text"
      name="username"
      placeholder="Username"
      [(ngModel)]="loginUser.username"
    /><br />

    <input
      type="password"
      name="password"
      placeholder="Password"
      [(ngModel)]="loginUser.password"
    /><br />

    <button
      id="login-button"
      (click)="login(loginUser)"
      class="btn btn-primary"
    >
      Log In
    </button>
    <hr />
  </form>
  <div *ngIf="failedLogin">
    <p class="alert alert-danger">Invalid username or password</p>
  </div>
  <div *ngIf="!loggedIn()">
    <button
      id="register-button"
      class="btn btn-success"
      [routerLink]="['/register']"
    >
      Create Account
    </button>
  </div>
</div>
