<app-loading [isLoading]="loading"></app-loading>

<h1 *ngIf="!loading">Total Cards: {{ cardCount() }}</h1>

<div *ngIf="cardsInCollection && !loading">
  <app-filter (changedVariable)="handleFiltersSetting($event)"></app-filter>
  <br />
  <app-applied-filters
    [filters]="filters"
    (changedVariable)="handleAppliedFiltersSetting($event)"
  ></app-applied-filters>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th (click)="sortTable('number')">Card Number</th>
        <th (click)="sortTable('playerName')">Player Name</th>
        <th (click)="sortTable('year')">Year</th>
        <th (click)="sortTable('boxSet')">Box Set</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let card of userCards | cardType : filters">
        <td id="tableClick" (click)="displaySingleCard(card)">
          {{ card.number }}
        </td>
        <td id="tableClick" (click)="displaySingleCard(card)">
          {{ card.playerName }}
        </td>
        <td id="tableClick" (click)="displaySingleCard(card)">
          {{ card.year }}
        </td>
        <td id="tableClick" (click)="displaySingleCard(card)">
          {{ card.boxSet }}
        </td>
        <td id="tableClick" (click)="displaySingleCard(card)">
          <img
            class="cardImgTable"
            src="{{ card.imgURL ? card.imgURL : noImage }}"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="removeCard(card.id)">
            Remove From Collection
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="filters = null" *ngIf="filters">
    Return to Full Collection
  </button>
</div>

<div *ngIf="!cardsInCollection && !loading">
  <img width="500px" height="400px" [src]="sadPuppy" />
  <h3>No cards in collection at this time</h3>
  <a [routerLink]="['/createcard']"
    ><button class="btn btn-success">Click Here to add to Collection!</button>
  </a>
</div>
