<h1>Total Cards: {{ cardCount() }}</h1>

<button *ngIf="!filters" class="btn btn-info" (click)="searchForCards()">
  Filter All Cards
</button>

<div class="styled-Form" *ngIf="filters">
  <h3>Filter Your Collection</h3>
  <h5>Select any combination of categories to filter by:</h5>
  <form name="filterCardForm" id="filterCardForm">
    <label for="playerName">Player Name: </label>
    <input type="text" name="playerName" [(ngModel)]="filters.playerName" />

    <label for="team">Team: </label>
    <input type="text" name="team" [(ngModel)]="filters.team" /><br />

    <label for="manufacturer">Manufacturer: </label>
    <input
      type="text"
      name="manufacturer"
      [(ngModel)]="filters.manufacturer"
    /><br />
    <label for="boxSet">Card Set: </label>
    <input type="text" name="boxSet" [(ngModel)]="filters.boxSet" /><br />
    <label for="year">Card Year: </label>
    <input type="number" name="year" [(ngModel)]="filters.year" /><br />
    <label for="rookie">Rookie Cards:</label>
    <input type="checkbox" name="rookie" [(ngModel)]="filters.rookie" /><br />
    <label>Autographed cards:</label>
    <input
      type="checkbox"
      name="autographed"
      [(ngModel)]="filters.autographed"
    /><br />
    <br />
    <button
      id="filter-button"
      type="button"
      class="btn btn-info"
      (click)="setFilters(filters)"
    >
      Filter
    </button>
  </form>
  <hr />
  <button id="filter-close" class="btn btn-warning" (click)="filters = null">
    Close Filter
  </button>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Card Number</th>
      <th>Player Name</th>
      <th>Box Set</th>
      <th></th>
    </tr>

    <tr></tr>
  </thead>

  <tbody>
    <tr *ngFor="let card of cards | cardType : cardFilter">
      <td id="tableClick" (click)="displaySingleCard(card)">
        {{ card.number }}
      </td>
      <td id="tableClick" (click)="displaySingleCard(card)">
        {{ card.playerName }}
      </td>
      <td id="tableClick" (click)="displaySingleCard(card)">
        {{ card.boxSet }}
      </td>
      <td id="tableClick" (click)="displaySingleCard(card)">
        <img class="cardImgTable" src="{{ card.imgURL }}" />
      </td>
      <td>
        <button class="btn btn-danger" (click)="removeCard(card.id)">
          Remove From Collection
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="cardFilter = null" *ngIf="cardFilter">
  Return to Collection
</button>
