<h1>{{ username }}'s Collection Summary</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Card Count</th>
      <th>Sale Value</th>
      <th>Rookie Cards</th>
      <th>Autographed Cards</th>
      <th>Average Condition of Collection</th>
      <th>Graded Cards</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ cardCount() }}</td>
      <td>{{ saleValue() | currency : "USD" }}</td>
      <td>{{ rookieCount() }}</td>
      <td>{{ autoCount() }}</td>
      <td>{{ averageCondition() | number : "1.1-2" }}</td>
      <td>{{ gradedCount() }}</td>
    </tr>
  </tbody>
</table>
