<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon navbar-light"></span>
    </button>
    <!-- <div
      class="collapse navbar-collapse"
      id="navbarTogglerDemo01"
      [ngbCollapse]="isCollapsed" -->
    >
    <a class="navbar-brand" [routerLink]="['/home']">CC</a>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="loggedIn() && adminUser === null">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>

      <!-- <li class="nav-item" *ngIf="loggedIn() && adminUser !== null">
          <a class="nav-link" [routerLink]="['/admin']">Admin</a>
        </li> -->

      <li class="nav-item" *ngIf="loggedIn() && adminUser === null">
        <a class="nav-link" [routerLink]="['/createcard']"
          >Add Card to Collection</a
        >
      </li>

      <li class="nav-item" *ngIf="loggedIn() && adminUser === null">
        <a class="nav-link" [routerLink]="['/collection']"
          >View My Collection</a
        >
      </li>

      <li *ngIf="loggedIn()">
        <app-logout></app-logout>
      </li>
    </ul>
  </div>
  <!-- </div> -->
</nav>
